@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --head-color: #EDE6DD;
    --title-color: #1E1928;
    --main-color: #F4EFE9;
    --font-i: 'Inter';
    --font-r: 'Roboto';
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.nav {
    background: var(--head-color);
}

.nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: var(--font-i);
    color: var(--title-color);
}

.header {
    background: var(--head-color);
    height: 845px;
}

.header__family {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.header__loved {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    font-family: var(--font-r);
    color: var(--title-color);
    max-width: 512px;
    width: 100%;
}

.header__txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.252px;
    font-family: var(--font-i);
    color: rgba(30, 25, 40, 0.8);
    max-width: 550px;
    width: 100%;
}

.txt {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.252px;
}

.header__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: rgba(30, 25, 40, 0.23);
    font-family: var(--font-i);
}

.header__input {
    padding: 18px 31px;
    border: none;
    outline: none;
}

.header__app {
    background: #FFFFFF;
    border-radius: 999px;
    overflow: hidden;
    max-width: 410px;
    width: 100%;
}

.header__btn {
    border: none;
    background: var(--title-color);
    color: var(--main-color);
    padding: 10px 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: var(--font-i);
    text-align: center;
    border-radius: 999px;
    cursor: pointer;
}

.header__img {
    padding-top: 64px;
}

.more {
    background: #FFFFFF;
    border-radius: 8px;
    transform: translateY(-155px);
}

.near {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 80px;
}

.near__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    font-family: var(--font-r);
    color: var(--title-color);
}

.near__txt {
    max-width: 653px;
    width: 100%;
    font-family: var(--font-i);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.252px;
    color: rgba(30, 25, 40, 0.8);
}

.near__btn {
    font-family: var(--font-i);
    color: var(--title-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 10px 33px;
    background: #FFFFFF;
    border-radius: 999px;
    cursor: pointer;
}

.section {
    background: #FFD394;
    position: relative;
}

.works {
    display: flex;
    justify-content: space-between;
}

.works__app {
    display: flex;
    align-items: center;
    gap: 24px;
}

.tex {
    padding-left: 65px;
}

.works__txt {
    font-family: var(--font-i);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.176px;
    color: rgba(30, 25, 40, 0.8);
    max-width: 502px;
    width: 100%;
    padding-bottom: 46px;
}

.works__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    font-family: var(--font-r);
    color: var(--title-color);
}

.works__txt-and {
    font-family: var(--font-i);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.176px;
    color: rgba(30, 25, 40, 0.8);
    max-width: 520px;
    width: 100%;
    padding-bottom: 46px;
}



.works__img {
    position: absolute;
    bottom: -215px;
    left: -45px;
}

.mind {
    background: var(--main-color);
    position: relative;
}

.built {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.built__img {
    position: relative;
    margin-top: 87px;
}

.img__bulit-2 {
    position: absolute;
    height: 388px;
    top: 95px;
    left: 198px;
}

.built__title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-align: right;
    font-family: var(--font-r);
    margin-bottom: 28px;
}

.built__txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.252px;
    color: rgba(30, 25, 40, 0.8);
    font-family: var(--font-i);
    max-width: 587px;
    width: 100%;
}

.assist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tit {
    text-align: justify;
}

.built__img-1 {
    position: relative;
    padding-top: 93px;
}

.img__bulit-3 {
    position: absolute;
    left: 4.33%;
    top: 20.67%
}

.text {
    max-width: 597px;
    width: 100%;
    text-align: justify;
}

.text {
    margin-bottom: 78px;
}

.collect {
    max-width: 591px;
    width: 100%;
}

.teet {
    max-width: 599px;
    width: 100%;
    text-align: justify;
    font-size: 16px;
}

.img__white {
    position: absolute;
    left: 50.12%;
    bottom: 28.73%;
    z-index: -1;
}

.grief {
    padding-top: 93px;
}

.grieftxt {
    max-width: 597px;
    width: 100%;
    font-size: 17px;
}

.menu {
    background: var(--main-color);
    transform: translateY(210px);
}

.cards__title {
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    color: var(--title-color);
    font-family: var(--font-i);
    text-align: center;
    padding-bottom: 80px;
    padding-top: 230px;
}

.card__mini {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 130px;
    width: 100%;
    background: #ffff;
    padding-bottom: 16px;
}

.card__title {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    font-family: var(--font-i);
    color: var(--title-color);
    text-align: center;
    max-width: 80px;
    width: 100%;
}

.card__img {
    padding: 12px 28px;
}

.cards {
    display: flex;
    gap: 16px;
}

.btn {
    background: var(--main-color);
}

.btnn {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding-bottom: 9px;
}

.security {
    background: var(--main-color);
}

.our {
    background: #FFFFFF;
    padding: 75px;
    border-radius: 8px;
    transform: translateY(50%);
}

.priority {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    position: relative;
    z-index: 1;
}

.words {
    background: #592141;
    position: relative;
    z-index: -1;
}

.users {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.user__txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--main-color);
    padding-top: 255px;
    font-family: var(--font-i);
}

.word {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: var(--main-color);
    font-family: var(--font-r);
    max-width: 828px;
    width: 100%;
    text-align: center;
}

.adress {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--main-color);
    font-family: var(--font-i);
    padding-bottom: 180px;
}

.menu__btn {
    display: none;
}

.seen {
    background: var(--main-color);
}

.seen__title {
    text-align: center;
    padding-top: 144px;
    font-weight: 400;
    font-size: 31px;
    line-height: 42px;
    color: var(--title-color);
    font-family: var(--font-r);
    padding-bottom: 66px;
}

.seen__content {
    display: flex;
    gap: 16px;
    padding-bottom: 144px;
    justify-content: center;
}

.seen__card {
    background: rgba(30, 25, 40, 0.08);
    border-radius: 8px;
    max-width: 288px;
    width: 100%;
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.free {
    background: #FFFFFF;
    border-radius: 8px;
    transform: translateY(115px);

}

.free__card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 80px;
}

.free__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    font-family: var(--font-r);
    padding-top: 80px;
    padding-bottom: 16px;
}

.free__down {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(30, 25, 40, 0.64);
    font-family: var(--font-i);
}

.line {
    content: '';
    width: 1px;
    height: 80px;
    background: rgba(30, 25, 40, 0.64);
    margin-top: 80px;
}

.trial {
    background: var(--title-color);
    position: relative;
    z-index: -1;
}

.trail__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.trail__title {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.252px;
    color: #FFFFFF;
    font-family: var(--font-i);
    padding-top: 256px;
    padding-bottom: 37px;
}

.trail__end {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--head-color);
    padding-top: 23px;
    padding-bottom: 138px;
}

.footer {
    padding: 64px 0;
}

.footer__menu {
    display: flex;
    column-gap: 188px;
    padding-bottom: 144px;

}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.footer__btn {
    display: flex;
    gap: 16px;
    align-items: center;

}

.footer__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(30, 25, 40, 0.64);
    font-family: var(--font-i);
    letter-spacing: 0.084px;
    max-width: 665px;
    width: 100%;
    padding-bottom: 14px;
}

.footer__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(30, 25, 40, 0.8);
    font-family: var(--font-i);
}

.footer__title {
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    font-family: var(--font-i);
    color: var(--title-color);
}

.footer__tn {
    background: var(--title-color);
    border-radius: 999px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--main-color);
    padding: 10px 32px;
    cursor: pointer;
    font-family: var(--font-i);
}

.footer__address {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: rgba(30, 25, 40, 0.64);
    font-family: var(--font-i);
}

.rights {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(30, 25, 40, 0.64);
    font-family: var(--font-i);
}

.footer__extra-img {
    padding-right: 16px;
}

.footer__extra {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.footer__end {
    display: flex;
    justify-content: space-between;
}